.headline-container {
  color: black;
  font-family: 'Mazzard M', sans-serif;
  width: 112rem;
  height: 88.9vh;
  position: relative; /* Added to position the container */
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content:top; /* Center vertically */
}

.text-line {
  text-align: center; /* Center text within .text-line */
}
.line-container {
  display: inline-flexbox;
  background-color: rgba(255, 255, 255, 0.55); /* White with 55% opacity */
  border-radius: 60px;
}

.subheadline .regular {
  font-family: 'Mazzard M', sans-serif;
  font-weight: 500;
}

.bold {
  font-weight: 700;
}
.middle{
  font-weight: 600;
}
.line-container-first {
  font-family: 'Mazzard M', sans-serif;
  font-weight: 500;
  display: inline-flexbox;
  background-color: rgba(255, 255, 255, 0.55); /* White with 55% opacity */
  border-radius: 12.5rem;
  padding-right: 1.3rem; /* Adjust as needed */
  padding-left: 1.3rem; /* Adjust as needed */
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  margin-top: 10.56rem;
  margin-bottom: 3.38rem; /* Adjust as needed */
  width: 22.3125rem;
  height: 2.9375rem;
}
.text-line-header {
  display: flex;
  position: relative;
  vertical-align:middle;
  flex-direction: row;
  justify-content:flex-start;
  align-items:flex-start;
  flex-wrap:wrap;
}
.logo-text-head {
  margin-right:0.7rem;
  margin-left:1.19rem;
  margin-top: 0.31rem;
  font-size: 2.18688rem;
  letter-spacing: 0.07656rem;
}
.logo-text-icon {
  margin-top:0.31rem;
  margin-right:1rem;
}
.subheadline{
  color: #000;
  display: table-cell;
  font-family: Mazzard;
  font-size: 3.62438rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.0725rem;
  text-transform: lowercase;
  width: 55.5rem;
  height: 5.5rem;
  text-align: center;
  vertical-align: middle;
}
.subheadline-inline-text {
  padding-top:0.56rem;
  padding-bottom: 0.63rem;
  padding-left: 2rem;
  padding-right:2rem;
}
.text-line-first {
  padding-right:1.9rem;
  padding-left:1.9rem;
  padding-top:0.12rem;
  padding-bottom:0.4rem;
}
.line-container-second {
  margin-bottom: 4.06rem;
  display: table-cell;
  background-color: rgba(255, 255, 255, 0.55); /* White with 55% opacity */
  border-radius: 60px;
  text-align: center;
  vertical-align: middle;
}

.line-container-third {
  display: table-cell;
  background-color: rgba(255, 255, 255, 0.55); /* White with 55% opacity */
  border-radius: 60px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 1.81rem;
  width: 47.32231rem;
  height: 2.4375rem;
  color: #000;
  font-family: Mazzard;
  font-size: 1.87438rem;
  font-style: normal;
  font-weight: 500;
  line-height: 142.7%; /* 2.67475rem */
  letter-spacing: 0.06563rem;
}
.line-container-fourth {
  width: 55.1875rem;
  height: 2.5625rem;
  color: #000;
  font-family: Mazzard;
  font-size: 1.87438rem;
  font-style: normal;
  font-weight: 500;
  line-height: 142.7%;
  letter-spacing: 0.06563rem;
  display: table-cell;
  background-color: rgba(255, 255, 255, 0.55); /* White with 55% opacity */
  border-radius: 60px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 2.19rem;
}
.line-container-fifth {
  width: 33.25rem;
  height: 2.5rem;
  color: #000;
  font-family: Mazzard;
  font-size: 1.87438rem;
  font-style: normal;
  font-weight: 500;
  line-height: 142.7%; /* 2.67475rem */
  letter-spacing: 0.06563rem;
  background-color: rgba(255, 255, 255, 0.55); /* White with 55% opacity */
  border-radius: 60px;
  text-align: center;
  vertical-align: middle;
}
@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.react-floater-animated{
  animation: floating 3s ease infinite;
  will-change: transform;
}