/* Logo.css */
.logo-container {
  /* width: 16.10319rem;
  height: 8.1875rem; */
  display: flex;
}
.logo-image {
  width: 4.875rem;
  height: 4.64081rem;
  position: absolute;
  left: 1.31rem;
}

.logo-text,
.logo-dot {
  font-family: 'Mazzard H', sans-serif;
  font-size: 1.68688rem;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.00844rem;
  text-transform: lowercase;
  position: absolute;
}

.logo-text {
  width: 6.125rem;
  height: 2rem;
  color: #2E2D2B;
  left: 6.4rem;
  top: 1.6rem;
}

.logo-dot {
  color: #F62527;
  left: 5.2rem;
  top: 1.9rem; 
}

/* Responsive styles */
@media (min-width: 768px) {
  .logo-image {
    width: 5.875rem;
    height: 5.64081rem;
  }

  .logo-text {
    font-size: 2rem;
    width: 7.125rem;
  }

  .logo-dot {
    left: calc(5.62rem + 6.5rem); /* Added this line */
  }
}
